AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=legal-rag-documents
OPENSEARCH_DOMAIN_NAME=legal-rag-search
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v1
BEDROCK_LLM_MODEL_ID=amazon.titan-text-premier-v1:0
OPENSEARCH_INSTANCE_TYPE=t3.small.search
OPENSEARCH_INSTANCE_COUNT=1
OPENSEARCH_EBS_SIZE=20
OPENSEARCH_MASTER_USER=admin
OPENSEARCH_MASTER_PASSWORD=
